.statistics{
    margin: 20px auto;
    width: 300px;
    background-color: cornsilk;
    text-align: center;

}
.title{
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(195, 191, 191);
 font-size: 24px;
 text-transform: uppercase;  
 color: cadetblue; 
}
.statList{
    display: flex;

}
.item{
    
    width: 60px;
    padding: 8px;
    text-align: center;
}
.label{
    display: block;
    margin-bottom: 8px;
    
}
.percentage{
    font-size: 20px;
}